.pages
  .container
    .breadcrumb
      = render_breadcrumbs separator: ' / '

  .about-1
    .container
      .row
        .columns.small-24.medium-12.large-10
          .panels
            %h3 Quiénes somos
            %p
              Trabajamos para proveer los mejores materiales de construcción
              para sus proyectos.

  .about-2
    .container
      .row
        .row.align-spaced
          .columns.small-24.medium-11.large-11
            .page-block
              %h2
                Nuestra Misión
              %p
                Producir áridos y prefabricados de concreto con alta calidad
                tecnológica y así servir productos de alta calidad con la
                mejor atención a nuestros clientes.
          .columns.small-24.medium-11.large-11
            .page-block
              %h2
                Nuestra Visión
              %p
                Ser una empresa líder a nivel nacional, manteniendo la
                calidad de nuestros productos y calidad en la atencion
                a nuestros clientes.
          .columns.small-24.medium-11.large-11
            .page-block
              %h2
                Nuestros Valores
              %p
                &bull; Respeto
                %br
                &bull; Honestidad
                %br
                &bull; Integridad
                %br
                &bull; Trabajo en equipo
