@import url('https://fonts.googleapis.com/css?family=Squada+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'foundation';
@import 'slick';

$normal: 400;
$bold: 700;

$black: #343434;
$gray: #f2f2f2;
$purple: #4577be;
$red: #a94442;
$yellow: #ff8a00;
$white: #fff;

.row {
  max-width: none;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1046px;
  padding: 0 1em;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

h1,
h3 {
  font-family: 'Squada One', cursive;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: 4.8em;
}

h3 {
  font-size: 2.8em;
  margin: .4em 0;
}

h4 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0;
}

.btn {
  background: $yellow;
  border-bottom: $black 3px solid;
  border-radius: .5em;
  color: $white;
  font-family: 'Squada One', cursive;
  font-size: 1.5em;
  height: 2.4em;
  line-height: 2.4;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  &.flat {
    background: transparent;
    border: 1px $black solid;
    color: $black;
  }

  &.disabled {
    background: darken($white, 10%);
    color: darken($white, 30%);
  }
}

.panels {
  background: $white image-url('bg-panel.png') 1em 1.5em no-repeat;
  padding: 1em 3em;
  position: relative;
  z-index: 2;

  @media screen and (max-width: 639px) {
    background: $white;
    padding: 1em 1em 2em;
  }

  .controls {
    text-align: right;

    a {
      margin: 0 0 0 .5em;
    }
  }
}

.panel {
  background: image-url('bg-panel.png') 0 0 no-repeat;
  padding: 0 0 1em 2em;

  @media screen and (max-width: 639px) {
    background: none;
    padding: 1em 1em 2em;
  }

  h3 {
    margin: 0;
    padding: .2em 0 0;
  }
}

body {
  background: $gray;
  color: $black;
  font-family: 'Open Sans', sans-serif;

  &.noscroll {
    overflow: hidden;
  }
}

footer {
  background: darken($white, 67%);
  color: $white;
  padding: 2.5em 0 2em;

  @media screen and (max-width: 639px) {
    text-align: center;

    .columns {
      padding: 1em 0;
    }
  }

  a {
    font-family: 'Squada One', cursive;
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;
  }

  span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    text-transform: none;
  }

  .facebook {
    background: image-url('icon-fb.png') left center no-repeat;
    padding: 0 0 0 2em;
  }

  .phone {
    background: image-url('icon-phone.png') left center no-repeat;
    padding: 0 0 0 1.6em;
  }
}

header {
  background: $white;

  &.i {
    background: $gray;
    padding: 0 0 1em;

    @media screen and (max-width: 780px) {
      padding: 1em 0;
    }

    img {
      max-width: 104px;
    }

    ul {
      align-items: flex-end;
    }

    li:first-child {
      padding: 0;
    }

    .group::before {
      border-top: 8px solid $gray;
    }

    .group::after {
      border-bottom: 8px solid $gray;
    }

    nav {
      top: 6em;
    }
  }

  li:last-child {
    display: none;

    img {
      max-width: 32px;
    }
  }

  @media screen and (max-width: 780px) {
    li {
      display: none;
    }

    li:first-child {
      display: block;
    }

    li:last-child {
      display: block;
    }
  }

  span {
    display: inline-block;
    margin: 0 0 .5em;
  }

  h2 {
    font-size: .9em;
    font-weight: normal;
    margin: 0;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    padding: 1em 0;
  }

  a,
  .group {
    font-family: 'Squada One', cursive;
    font-size: 1.2em;
    line-height: 1.1;
    text-transform: uppercase;
  }

  .group {
    background: $yellow;
    color: $white;
    height: 1.6em;
    line-height: 1.8;
    padding: 0 .5em;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
    }

    &::before {
      border-right: 8px $yellow solid;
      border-top: 8px solid $white;
      left: 0;
      top: 0;
    }

    &::after {
      border-bottom: 8px solid $white;
      border-left: 8px $yellow solid;
      bottom: 0;
      right: 0;
    }

    a {
      font-size: 1em;
    }

    img {
      vertical-align: top;
    }
  }

  nav {
    background: $white;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 4em;
    z-index: 5;

    a {
      display: block;
      font-size: 2em;
      margin: 1.5em 0;
      text-align: center;
    }
  }
}

.home-1 {
  background: image-url('bg-home-1.jpg') right top no-repeat;
  background-size: auto 98%;
  margin: 0 0 11px;
  padding: 2em 0 6em;
  position: relative;

  @media screen and (max-width: 1300px) {
    background-position: right bottom;
    background-size: 45% auto;
  }

  @media screen and (max-width: 639px) {
    background: none;
    padding: 2em 0;
    text-align: center;
  }

  &::after {
    background: $yellow;
    bottom: -11px;
    content: '';
    height: 22px;
    left: 0;
    position: absolute;
    width: 330px;

    @media screen and (max-width: 639px) {
      right: 0;
      width: 100%;
    }
  }

  img {
    max-width: 188px;
  }

  h1 {
    margin: .5em 0 0;

    @media screen and (max-width: 1300px) {
      font-size: 3.8em;
    }

    @media screen and (max-width: 639px) {
      font-size: 2.8em;
    }
  }

  p {
    font-size: 1.3em;
    margin: 1em 0;
  }

  .btn {
    @media screen and (max-width: 1300px) {
      margin: .5em 0;
    }
  }
}

.home-2,
.product-detail {
  padding: 2em 0;

  @media screen and (max-width: 639px) {
    padding: 0;
  }

  .container {
    padding: 0 1em 12em;
    position: relative;

    @media screen and (max-width: 639px) {
      padding: 0;
    }
  }

  .background {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    bottom: 0;
    left: 0;
    margin: 0 1em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    @media screen and (max-width: 639px) {
      display: none;
    }
  }
}

.product-detail {
  padding: 0;

  .container {
    background: transparent;
  }
}

.home-3 {
  background: image-url('bg-home-3.png');
  padding: 5em 0;

  @media screen and (max-width: 639px) {
    padding: 1em 0;
  }

  .product {
    display: block;
  }

  figure {
    background: $yellow;
    margin: 0 0 0 2em;
    padding: 5em 0 0;
    position: relative;
    text-align: center;

    @media screen and (max-width: 639px) {
      margin: 0 1em 3em;
      padding: 5em 0 0;
    }

    &::before {
      border-right: 28px $yellow solid;
      border-top: 28px solid darken($white, 10%);
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
    }
  }

  figcaption {
    background: $white;
    box-shadow: 0 .3em .5em 0 transparentize($black, .8);
    font-family: 'Squada One', cursive;
    font-size: 1.9em;
    line-height: 1;
    margin: 2.4em 0 0;
    padding: .5em;
    text-transform: uppercase;
  }

  img {
    max-height: 110px;
  }

  p {
    font-size: .9em;
  }

  .btn {
    margin: 1em 0 0;
  }
}

.home-4 {
  padding: 3em 0 4em;

  @media screen and (max-width: 639px) {
    padding: 0;
  }

  .container {
    background: image-url('bg-home-4.jpg') 1em top no-repeat;
    background-size: auto 100%;
    padding: 0 1em 9em;

    @media screen and (max-width: 1023px) {
      background-position: left top;
      margin: 0 1em;
      padding: 0 0 9em;
    }

    @media screen and (max-width: 639px) {
      margin: 0;
      padding: 0;
    }
  }

  .btn {
    margin: .6em 0 1em;
    padding: 0 2.2em;
    width: auto;
  }
}

.breadcrumb {
  font-family: 'Squada One', cursive;
  font-size: 1.1em;
  padding: 1em 0;
  text-transform: uppercase;
}

.products {
  background: $white;
  padding: 0 0 4em;

  .cover {
    background-image: image-url('cover-products.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0 0;

    @media screen and (max-width: 639px) {
      margin: 0 -1em;
    }
  }

  h1 {
    color: $white;
    font-size: 3.4em;
    margin: 0;
    text-align: center;

    @media screen and (max-width: 639px) {
      font-size: 2.6em;
    }
  }

  .tabs {
    color: $white;
    font-family: 'Squada One', cursive;
    font-size: 2em;
    margin: 1.2em 0 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    @media screen and (max-width: 639px) {
      font-size: 1.6em;
    }

    a {
      height: 2.2em;
      line-height: 2.2;
      width: 4.3em;
    }

    .active {
      background: $white;
      color: $black;
    }
  }

  .filters {
    padding: .5em 0;
    text-align: center;

    a {
      background: $purple;
      border-radius: 999px;
      color: $white;
      height: 1.8em;
      line-height: 1.8;
      margin: .5em;
      min-width: 8em;
      padding: 0 1em;
      text-align: center;
      white-space: nowrap;

      @media screen and (max-width: 639px) {
        margin: .3em;
        min-width: auto;
        padding: 0 1.5em;
      }
    }

    .active {
      background: darken($white, 10%);
      color: $black;
    }
  }

  .product {
    margin: 3em 0 0;

    figure {
      @media screen and (max-width: 639px) {
        text-align: center;
      }
    }

    img {
      width: 12em;
    }

    h2 {
      font-family: 'Squada One', cursive;
      font-size: 2em;
      font-weight: normal;
      line-height: 1;
      margin: .2em 0 0;
    }

    p {
      margin: .5em 0;
    }
  }
}

.prefooter {
  padding: 2em 1em 3em;
  text-align: center;

  strong,
  .tel {
    font-family: 'Squada One', cursive;
    font-weight: normal;
    line-height: 1;
    margin: .2em 0 0;
  }

  strong {
    display: block;
    font-size: 1.8em;
  }

  .tel {
    background: image-url('icon-phone-color.png') left center no-repeat;
    font-size: 1.5em;
    padding: .5em 0 .5em 1.8em;
    text-transform: uppercase;
  }

  .btn {
    margin: 1em 0;
    max-width: 216px;
  }
}

.projects {
  background: $white;
  padding: 0 0 4em;

  h1 {
    background: image-url('bg-h1.png') left bottom no-repeat;
    font-size: 3.4em;
    margin: 0;
    padding: 0 0 .3em;
  }
}

.project,
.page-block {
  border-radius: 1em;
  box-shadow: 0 .4em 2em .1em transparentize($black, .8);
  margin: 2em 1em;
  padding: 2em;
  position: relative;

  @media screen and (max-width: 639px) {
    margin: 2.5em 0 .5em;
    padding: 1.5em 1em;
  }

  &::after {
    background: $yellow;
    bottom: -11px;
    content: '';
    display: block;
    height: 11px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 118px;
  }

  h2 {
    color: lighten($black, 10%);
    font-size: 2em;
    line-height: 1.1;
    margin: .5em 0 0;

    @media screen and (max-width: 639px) {
      color: $black;
      font-size: 1.6em;
    }
  }

  p {
    margin: .5em 0 1em;
  }

  .more {
    color: $purple;
    font-size: 1.2em;
    font-weight: $bold;
  }
}

.page-block {
  text-align: center;

  h2 {
    color: $black;
    font-family: 'Squada One', cursive;
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
  }
}

.overlay {
  background: transparentize($black, .1);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;

  .popup {
    left: 50%;
    max-width: 1046px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .close {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 4;
  }
}

.contacts {
  background: $white;
  padding: 0 0 4em;

  h1 {
    background: image-url('bg-h1.png') left bottom no-repeat;
    font-size: 3.4em;
    margin: 0 0 1em;
    padding: 0 0 .3em;

    @media screen and (max-width: 639px) {
      margin: 0 0 .4em;
    }
  }

  .clink {
    background-position: left center;
    background-repeat: no-repeat;
    font-family: 'Squada One', cursive;
    font-size: 2.2em;
    line-height: 1;
    margin: .5em 0;

    @media screen and (max-width: 639px) {
      font-size: 1.6em;
      margin: .5em 0;
    }

    span {
      color: $yellow;
    }

    &.tel {
      background-image: image-url('icon-phone-color.png');
      padding: 0 0 0 1.2em;

      @media screen and (max-width: 639px) {
        background: none;
        padding: 0;
      }
    }

    &.mailto {
      background-image: image-url('icon-mail-color.png');
      padding: 0 0 0 2.2em;

      @media screen and (max-width: 639px) {
        background: none;
        padding: 0;
      }
    }
  }

  strong {
    display: block;
    font-size: 1.6em;
    line-height: 1.2;
    margin: 2em 0 1em;

    @media screen and (max-width: 639px) {
      margin: 1em 0 0;
    }
  }
}

.control {
  margin: .8em 0;

  .help-block {
    color: $red;
    display: block;
    font-size: .8em;
    font-weight: $bold;
    line-height: 1.2;
    margin: .2em 0 0;
    text-align: right;
    text-transform: uppercase;
  }
}

[type=text],
[type=email],
select,
textarea {
  border: 1px darken($white, 10%) solid;
  border-radius: 0;
  border-top: 3px darken($white, 10%) solid;
  height: 2.5em;
  text-indent: .6em;
  width: 100%;

  &:focus {
    border-color: $yellow;
    outline: none;
  }
}

textarea {
  height: auto;
  padding: .2em .5em;
  text-indent: 0;
}

select {
  background: $white;
}

.date-select-container {
  display: flex;
  padding: 0 .8em;

  select {
    color: $black;
    display: inline-block;
    flex: 1;
    margin: 0 .25em;
  }
}

form {
  .btn {
    margin: 1em 0 0;
  }
}

.notice {
  background: $purple;
  color: $white;
  font-size: .8em;
  font-weight: $bold;
  line-height: 1.4;
  margin: 1em 0 1.5em;
  padding: .8em 1em;
  text-align: center;
  text-transform: uppercase;

  &.inverse {
    background: $gray;
    border: 1px darken($gray, 10%) solid;
    border-radius: .4em;
    color: $purple;
    font-size: 1em;
    font-style: italic;
    font-weight: $normal;
    margin: 3em 0;
    padding: 1.5em 1em;
  }
}

.pages {
  background: darken($white, 3%);
  padding: 0 0 4em;

  h1 {
    background: image-url('bg-h1.png') left bottom no-repeat;
    font-size: 3.4em;
    margin: 0;
    padding: 0 0 .3em;
  }
}

.about-1 {
  padding: 3em 0 4em;

  @media screen and (max-width: 639px) {
    padding: 0;
  }

  .container {
    margin: 0 auto;
    padding: 0 1em;

    @media screen and (max-width: 1023px) {
      margin: 0 1em;
      padding: 0;
    }

    @media screen and (max-width: 639px) {
      background: none;
      margin: 0;
      padding: 0;
    }
  }

  .panels {
    p {
      color: darken($white, 60%);
      font-size: 1.7em;
      line-height: 1.2;
      text-align: justify;

      @media screen and (max-width: 1023px) {
        font-size: 1.3em;
      }
    }
  }
}

.slide {
  figure {
    display: none;
    margin: 1em 0;

    @media screen and (max-width: 639px) {
      display: block;
    }
  }
}

.map {
  border-top: 1px $yellow solid;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;

  &.large {
    margin: .5em 0 0;
    padding-bottom: 60%;
  }

  @media screen and (max-width: 640px) {
    padding-bottom: 90%;
  }
}

.quotations {
  background: $white;
  padding: 0 0 4em;

  h1 {
    background: image-url('bg-h1.png') left bottom no-repeat;
    font-size: 3.4em;
    margin: 0;
    padding: 0 0 .3em;
  }

  h3 {
    font-size: 1.4em;
    margin: 3em 0 0;
  }

  strong {
    display: block;
    font-family: 'Squada One', cursive;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.1;
    margin: 1.5em 0 .5em;
    text-transform: uppercase;
  }

  .red {
    color: $red;
    font-size: .9em;
    font-style: italic;
    margin: .5em 0;
  }

  .remove {
    color: $red;
    font-weight: $bold;
    text-transform: uppercase;
  }

  .radios {
    margin: 1em 0;
  }

  .radio {
    cursor: pointer;
    display: block;
    font-size: .75em;
    font-style: italic;
    margin: .8em 0;
    text-transform: uppercase;
  }

  .date-select-container {
    margin: 1em -1em 0;
  }

  .add-product {
    background: $purple;
    border-radius: 999px;
    color: $white;
    font-weight: $bold;
    height: 2.5em;
    line-height: 2.5;
    margin: 1em 0 0;
    padding: 0 1em;
    text-transform: uppercase;
  }

  .head {
    margin: 2em 0 0;
  }

  .head,
  .products-list,
  .totals {
    strong {
      margin: 0;
    }

    .row {
      padding: .5em;
    }
  }

  .products-list {
    .row:nth-child(odd) {
      background: darken($white, 7%);
    }
  }

  .totals {
    border-top: 3px darken($white, 10%) solid;
  }
}

.trucks {
  margin: 0 -1em;

  h3 {
    margin: .3em 0;
  }
}

.truck {
  background: darken($white, 5%);
  border-radius: .5em;
  margin: 1em;
  padding: .8em;
  position: relative;

  &.overloaded {
    background: $red;
    color: $white;

    .disclaimer {
      display: block;
    }

    .remove-truck {
      border-color: $white;
      color: $white;
    }
  }

  &.empty {
    .empty-truck {
      display: block;
    }
  }

  .remove-truck {
    border: 2px $red solid;
    border-radius: 1em;
    color: $red;
    font-size: 1.2em;
    font-weight: $bold;
    height: 1.4em;
    line-height: 1;
    position: absolute;
    right: .7em;
    text-align: center;
    top: .8em;
    width: 1.4em;
  }

  .disclaimer,
  .empty-truck {
    background: $white;
    color: $yellow;
    display: none;
    font-size: .9em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.25;
    margin: 1em 0 0;
    padding: .5em;
    text-align: center;
  }

  .empty-truck {
    border: 1px $red solid;
  }
}

.add-truck {
  background: darken($white, 5%);
  border: 2px $purple dashed;
  border-radius: .5em;
  display: block;
  height: calc(100% - 2em);
  margin: 1em;
  min-height: 6em;
  padding: .8em;
  position: relative;

  span {
    color: $purple;
    font-weight: $bold;
    left: 50%;
    line-height: 1.2;
    margin: 0 auto;
    max-width: 90%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.truck-item {
  background: $white image-url('icon-move.png') center right .5em no-repeat;
  background-size: 20px;
  border: 1px $purple solid;
  color: $black;
  cursor: grab;
  margin: .5em 0;
  padding: .5em 1em;
  z-index: 2;

  a {
    color: $purple;
    font-size: .8em;
    font-weight: $bold;
    margin: 0 .5em 0 0;
    text-decoration: underline;

    &.delete-truck-item {
      color: $red;
    }
  }

  span {
    font-weight: $bold;
  }
}

.info {
  background: darken($white, 5%);
  border-radius: .5em;
  margin: 2em 1em;
  padding: 2em 1em;

  h3 {
    margin: 0 0 .5em;
  }

  b,
  i {
    font-size: .9em;
  }
}

.move-b-example {
  .popup {
    background: $white;
    border-radius: .5em;
    padding: .5em 1.5em 1.5em;
    text-align: center;
  }

  p {
    font-weight: $bold;
    line-height: 1.3;
  }

  .btn {
    padding: 0 2em;
    width: auto;
  }
}
