@import url('https://fonts.googleapis.com/css?family=Squada+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'foundation';
@import 'slick';

$normal: 400;
$bold: 700;

$black: #343434;
$gray: #f2f2f2;
$purple: #4577be;
$yellow: #ff8a00;
$white: #fff;

.row {
  max-width: none;
}

.container {
  margin: 0 auto;
  max-width: 1046px;
  padding: 0 1em;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

h1,
h3 {
  font-family: 'Squada One', cursive;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: 4.8em;
}

h3 {
  font-size: 2.8em;
  margin: .4em 0;
}

h4 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0;
}

.btn {
  background: $yellow;
  border-bottom: $black 3px solid;
  border-radius: .5em;
  color: $white;
  font-family: 'Squada One', cursive;
  font-size: 1.5em;
  height: 2.4em;
  line-height: 2.4;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  &.flat {
    background: transparent;
    border: 1px $black solid;
    color: $black;
  }
}

.panels {
  background: $white image-url('bg-panel.png') 1em 1.5em no-repeat;
  padding: 1em 3em;
  position: relative;
  z-index: 2;

  .controls {
    text-align: right;

    a {
      margin: 0 0 0 .5em;
    }
  }
}

.panel {
  background: image-url('bg-panel.png') 0 0 no-repeat;
  padding: 0 0 1em 2em;

  h3 {
    margin: 0;
    padding: .2em 0 0;
  }
}

body {
  background: $gray;
  color: $black;
  font-family: 'Open Sans', sans-serif;

  &.noscroll {
    overflow: hidden;
  }
}

footer {
  background: darken($white, 67%);
  color: $white;
  padding: 2.5em 0 2em;

  a {
    font-family: 'Squada One', cursive;
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;
  }

  span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    text-transform: none;
  }

  .facebook {
    background: image-url('icon-fb.png') left center no-repeat;
    padding: 0 0 0 2em;
  }

  .phone {
    background: image-url('icon-phone.png') left center no-repeat;
    padding: 0 0 0 1.6em;
  }
}

header {
  background: $white;

  &.i {
    background: $gray;
    padding: 0 0 1em;

    img {
      max-width: 104px;
    }

    ul {
      align-items: flex-end;
    }

    li:first-child {
      padding: 0;
    }
  }

  span {
    display: inline-block;
    margin: 0 0 .5em;
  }

  h2 {
    font-size: .9em;
    font-weight: normal;
    margin: 0;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    padding: 1em 0;
  }

  a,
  .group {
    font-family: 'Squada One', cursive;
    font-size: 1.2em;
    line-height: 1.1;
    text-transform: uppercase;
  }

  .group {
    background: $yellow;
    color: $white;
    height: 1.6em;
    line-height: 1.8;
    padding: 0 .5em;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
    }

    &::before {
      border-right: 8px $yellow solid;
      border-top: 8px solid $white;
      left: 0;
      top: 0;
    }

    &::after {
      border-bottom: 8px solid $white;
      border-left: 8px $yellow solid;
      bottom: 0;
      right: 0;
    }

    a {
      font-size: 1em;
    }

    img {
      vertical-align: top;
    }
  }
}

.home-1 {
  background: image-url('bg-home-1.png') right top no-repeat;
  background-size: auto 98%;
  margin: 0 0 11px;
  padding: 2em 0 6em;
  position: relative;

  &::after {
    background: $yellow;
    bottom: -11px;
    content: '';
    height: 22px;
    left: 0;
    position: absolute;
    width: 330px;
  }

  img {
    max-width: 188px;
  }

  h1 {
    margin: .5em 0 0;
  }

  p {
    font-size: 1.3em;
    margin: 1em 0;
  }
}

.home-2,
.product-detail {
  padding: 2em 0;

  .container {
    background: image-url('icon-block.png') left bottom no-repeat;
    padding: 0 1em 12em;
    position: relative;
  }

  .background {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    bottom: 0;
    left: 0;
    margin: 0 1em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.product-detail {
  padding: 0;

  .container {
    background: transparent;
  }
}

.home-3 {
  background: image-url('bg-home-3.png');
  padding: 5em 0;

  .product {
    display: block;
  }

  figure {
    background: $yellow;
    margin: 0 0 0 2em;
    padding: 5em 0 0;
    position: relative;
    text-align: center;

    &::before {
      border-right: 28px $yellow solid;
      border-top: 28px solid darken($white, 10%);
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
    }
  }

  figcaption {
    background: $white;
    box-shadow: 0 .3em .5em 0 transparentize($black, .8);
    font-family: 'Squada One', cursive;
    font-size: 1.9em;
    line-height: 1;
    margin: 2.4em 0 0;
    padding: .5em;
    text-transform: uppercase;
  }

  img {
    max-height: 110px;
  }

  p {
    font-size: .9em;
  }

  .btn {
    margin: 1em 0 0;
  }
}

.home-4 {
  padding: 3em 0 4em;

  .container {
    background: image-url('bg-home-4.png') 1em top no-repeat;
    background-size: auto 100%;
    padding: 0 1em 9em;
  }

  .btn {
    margin: .6em 0 1em;
    padding: 0 2.2em;
    width: auto;
  }
}

.breadcrumb {
  font-family: 'Squada One', cursive;
  font-size: 1.1em;
  padding: 1em 0;
  text-transform: uppercase;
}

.products {
  background: $white;
  padding: 0 0 4em;

  .cover {
    background: image-url('cover-products.png') center center no-repeat;
    padding: 4em 0 0;

    @media screen and (max-width: 639px) {
      margin: 0 -1em;
    }
  }

  h1 {
    color: $white;
    font-size: 3.4em;
    margin: 0;
    text-align: center;

    @media screen and (max-width: 639px) {
      font-size: 2.6em;
    }
  }

  .tabs {
    color: $white;
    font-family: 'Squada One', cursive;
    font-size: 2em;
    margin: 1.2em 0 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    @media screen and (max-width: 639px) {
      font-size: 1.6em;
    }

    a {
      height: 2.2em;
      line-height: 2.2;
      width: 4.3em;
    }

    .active {
      background: $white;
      color: $black;
    }
  }

  .filters {
    padding: .5em 0;
    text-align: center;

    a {
      background: $purple;
      border-radius: 999px;
      color: $white;
      height: 1.8em;
      line-height: 1.8;
      margin: .5em;
      min-width: 8em;
      padding: 0 1em;
      text-align: center;
      white-space: nowrap;

      @media screen and (max-width: 639px) {
        margin: .3em;
        min-width: auto;
        padding: 0 1.5em;
      }
    }

    .active {
      background: darken($white, 10%);
      color: $black;
    }
  }

  .product {
    margin: 3em 0 0;

    h2 {
      font-family: 'Squada One', cursive;
      font-size: 2em;
      font-weight: normal;
      line-height: 1;
      margin: .2em 0 0;
    }

    p {
      margin: .5em 0;
    }
  }
}

.prefooter {
  padding: 2em 1em 3em;
  text-align: center;

  strong,
  .tel {
    font-family: 'Squada One', cursive;
    font-weight: normal;
    line-height: 1;
    margin: .2em 0 0;
  }

  strong {
    display: block;
    font-size: 1.8em;
  }

  .tel {
    background: image-url('icon-phone-color.png') left center no-repeat;
    font-size: 1.5em;
    padding: .5em 0 .5em 1.8em;
    text-transform: uppercase;
  }

  .btn {
    margin: 1em 0;
    max-width: 216px;
  }
}

.projects {
  background: $white;
  padding: 0 0 4em;

  h1 {
    background: image-url('bg-h1.png') left bottom no-repeat;
    font-size: 3.4em;
    margin: 0;
    padding: 0 0 .3em;
  }
}

.project {
  border-radius: 1em;
  box-shadow: 0 .4em 2em .1em transparentize($black, .8);
  margin: 2em 1em;
  padding: 2em;
  position: relative;

  &::after {
    background: $yellow;
    bottom: -11px;
    content: '';
    display: block;
    height: 11px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 118px;
  }

  h2 {
    color: lighten($black, 10%);
    font-size: 2em;
    margin: .5em 0 0;
  }

  p {
    margin: .5em 0 1em;
  }

  .more {
    color: $purple;
    font-size: 1.2em;
    font-weight: $bold;
  }
}

.overlay {
  background: transparentize($black, .1);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;

  .popup {
    left: 50%;
    max-width: 1046px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -60%);
    width: 90%;
  }

  .close {
    position: absolute;
    right: 2em;
    top: 1em;
    z-index: 4;
  }
}
