%hot-table{ datarows: 'items', settings: "{ stretchH: 'last', colHeaders: 'true' }", 'row-headers' => 'true' }
  %hot-column{ data: 'record_status', title: "'Estado'", 'read-only': true }
  %hot-column{ data: 'email', title: "'Email'" }
  %hot-column{ data: 'name', title: "'Nombre'" }
